/*  Medium devices (tablets, 768px and up) (MD) */
@media (min-width: 768px) and (max-width: 991px) {
  /* #region fonts sizes */
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  button {
    font-size: 16px;
  }

  .caption {
    font-size: 12px;
  }

  /* #endregion fonts sizes */

  /* #region Margins */
  /* # general margin */
  .m-md-auto {
    margin: auto;
  }

  .m-md-0-auto {
    margin: 0 auto;
  }

  .m-md-initial {
    margin: initial;
  }

  /* #end general margin */

  /* # top margin */
  .mt-md-0 {
    margin-top: 0;
  }

  .mt-md-5 {
    margin-top: 5px;
  }

  .mt-md-10 {
    margin-top: 10px;
  }

  .mt-md-15 {
    margin-top: 15px;
  }

  .mt-md-20 {
    margin-top: 20px;
  }

  .mt-md-30 {
    margin-top: 30px;
  }

  .mt-md-40 {
    margin-top: 40px;
  }

  .mt-md-50 {
    margin-top: 50px;
  }

  .mt-md-60 {
    margin-top: 60px;
  }

  .mt-md-70 {
    margin-top: 70px;
  }

  .mt-md-80 {
    margin-top: 80px;
  }

  .mt-md-90 {
    margin-top: 90px;
  }

  .mt-md-100 {
    margin-top: 100px;
  }

  .mt-md-150 {
    margin-top: 150px;
  }

  .mt-md-250 {
    margin-top: 250px;
  }

  /* # endtop margin */

  /* # rigth margin */

  .mr-md-0 {
    margin-right: 0;
  }

  .mr-md-5 {
    margin-right: 5px;
  }

  .mr-md-10 {
    margin-right: 10px;
  }

  .mr-md-20 {
    margin-right: 20px;
  }

  .mr-md-30 {
    margin-right: 30px;
  }

  .mr-md-40 {
    margin-right: 40px;
  }

  .mr-md-50 {
    margin-right: 50px;
  }

  .mr-md-60 {
    margin-right: 60px;
  }

  /* # end rigth margin */

  /* # bottom margin */
  .mb-md-0 {
    margin-bottom: 0;
  }

  .mb-md-5 {
    margin-bottom: 5px;
  }

  .mb-md-10 {
    margin-bottom: 10px;
  }

  .mb-md-15 {
    margin-bottom: 15px;
  }

  .mb-md-20 {
    margin-bottom: 20px;
  }

  .mb-md-30 {
    margin-bottom: 30px;
  }

  .mb-md-40 {
    margin-bottom: 40px;
  }

  .mb-md-50 {
    margin-bottom: 50px;
  }

  .mb-md-60 {
    margin-bottom: 60px;
  }

  .mb-md-70 {
    margin-bottom: 70px;
  }

  .mb-md-80 {
    margin-bottom: 80px;
  }

  .mb-md-90 {
    margin-bottom: 90px;
  }

  .mb-md-100 {
    margin-bottom: 100px;
  }

  .mb-md-140 {
    margin-bottom: 140px;
  }

  .mb-md-150 {
    margin-bottom: 150px;
  }

  .mb-md-250 {
    margin-bottom: 250px;
  }

  /* # end bottom margin */

  /* # left  margin */
  .ml-md-0 {
    margin-left: 0;
  }

  .ml-md-5 {
    margin-left: 5px;
  }

  .ml-md-10 {
    margin-left: 10px;
  }

  .ml-md-20 {
    margin-left: 20px;
  }

  .ml-md-30 {
    margin-left: 30px;
  }

  .ml-md-40 {
    margin-left: 40px;
  }

  .ml-md-50 {
    margin-left: 50px;
  }

  .ml-md-60 {
    margin-left: 60px;
  }

  /* # end left margin */

  /* # full margin */
  .m-md-0 {
    margin: 0;
  }

  .m-md-5 {
    margin: 5px;
  }

  .m-md-10 {
    margin: 10px;
  }

  .m-md-20 {
    margin: 20px;
  }

  .m-md-30 {
    margin: 30px;
  }

  .m-md-40 {
    margin: 40px;
  }

  .m-md-50 {
    margin: 50px;
  }

  .m-md-60 {
    margin: 60px;
  }

  /* # full margin */

  /* margin axis y */
  .my-md-0 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .my-md-5 {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .my-md-10 {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .my-md-15 {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .my-md-20 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .my-md-30 {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .my-md-40 {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .my-md-50 {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .my-md-60 {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .my-md-70 {
    margin-bottom: 70px;
    margin-top: 70px;
  }

  .my-md-80 {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .my-md-90 {
    margin-bottom: 90px;
    margin-top: 90px;
  }

  .my-md-100 {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  /* margin axis y */

  /* # margin axis x */
  .mx-md-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mx-md-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .mx-md-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mx-md-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mx-md-30 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mx-md-40 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mx-md-50 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .mx-md-60 {
    margin-left: 60px;
    margin-right: 60px;
  }

  /* # end margin axis x*/
  /* #endregion Margins */

  /* #region Paddings */
  /* #padding top region */
  .pt-md-0 {
    padding-top: 0;
  }

  .pt-md-10 {
    padding-top: 10px;
  }

  .pt-md-15 {
    padding-top: 15px;
  }

  .pt-md-20 {
    padding-top: 20px;
  }

  .pt-md-30 {
    padding-top: 30px;
  }

  .pt-md-40 {
    padding-top: 40px;
  }

  .pt-md-50 {
    padding-top: 50px;
  }

  .pt-md-60 {
    padding-top: 60px;
  }

  .pt-md-70 {
    padding-top: 70px;
  }

  .pt-md-80 {
    padding-top: 80px;
  }

  .pt-md-90 {
    padding-top: 90px;
  }

  .pt-md-100 {
    padding-top: 100px;
  }

  /* #end padding top region */

  /* #padding rigth region */
  .pr-md-0 {
    padding-right: 0;
  }

  .pr-md-10 {
    padding-right: 10px;
  }

  .pr-md-15 {
    padding-right: 15px;
  }

  .pr-md-20 {
    padding-right: 20px;
  }

  .pr-md-30 {
    padding-right: 30px;
  }

  .pr-md-40 {
    padding-right: 40px;
  }

  .pr-md-50 {
    padding-right: 50px;
  }

  .pr-md-60 {
    padding-right: 60px;
  }

  .pr-md-70 {
    padding-right: 70px;
  }

  .pr-md-80 {
    padding-right: 80px;
  }

  .pr-md-90 {
    padding-right: 90px;
  }

  .pr-md-100 {
    padding-right: 100px;
  }

  /* #end padding rigth region */

  /* #padding bottom region */
  .pb-md-0 {
    padding-bottom: 0;
  }

  .pb-md-10 {
    padding-bottom: 10px;
  }

  .pb-md-15 {
    padding-bottom: 15px;
  }

  .pb-md-20 {
    padding-bottom: 20px;
  }

  .pb-md-30 {
    padding-bottom: 30px;
  }

  .pb-md-40 {
    padding-bottom: 40px;
  }

  .pb-md-50 {
    padding-bottom: 50px;
  }

  .pb-md-60 {
    padding-bottom: 60px;
  }

  .pb-md-70 {
    padding-bottom: 70px;
  }

  .pb-md-80 {
    padding-bottom: 80px;
  }

  .pb-md-90 {
    padding-bottom: 90px;
  }

  .pb-md-100 {
    padding-bottom: 100px;
  }

  /* #end padding bottom region */

  /* #padding left region */
  .pl-md-0 {
    padding-left: 0;
  }

  .pl-md-10 {
    padding-left: 10px;
  }

  .pl-md-20 {
    padding-left: 20px;
  }

  .pl-md-30 {
    padding-left: 30px;
  }

  .pl-md-40 {
    padding-left: 40px;
  }

  .pl-md-50 {
    padding-left: 50px;
  }

  .pl-md-60 {
    padding-left: 60px;
  }

  .pl-md-70 {
    padding-left: 70px;
  }

  .pl-md-80 {
    padding-left: 80px;
  }

  .pl-md-90 {
    padding-left: 90px;
  }

  .pl-md-100 {
    padding-left: 100px;
  }

  /* #end padding left region */

  /* #padding full region */
  .p-md-0 {
    padding: 0;
  }

  .p-md-10 {
    padding: 10px;
  }

  .p-md-15 {
    padding: 15px;
  }

  .p-md-20 {
    padding: 20px;
  }

  .p-md-30 {
    padding: 30px;
  }

  .p-md-40 {
    padding: 40px;
  }

  .p-md-50 {
    padding: 50px;
  }

  .p-md-60 {
    padding: 60px;
  }

  .p-md-70 {
    padding: 70px;
  }

  .p-md-80 {
    padding: 80px;
  }

  .p-md-90 {
    padding: 90px;
  }

  .p-md-100 {
    padding: 100px;
  }

  /* #padding full region */

  /* #padding axis y region */
  .py-md-0 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .py-md-10 {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .py-md-15 {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .py-md-20 {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .py-md-30 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .py-md-40 {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .py-md-50 {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .py-md-60 {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .py-md-70 {
    padding-bottom: 70px;
    padding-top: 70px;
  }

  .py-md-80 {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .py-md-90 {
    padding-bottom: 90px;
    padding-top: 90px;
  }

  .py-md-100 {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  /* #end padding axis y region */

  /* #padding left region */
  .px-md-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-md-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .px-md-15 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .px-md-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .px-md-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .px-md-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .px-md-50 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .px-md-60 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .px-md-70 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .px-md-80 {
    padding-left: 80px;
    padding-right: 80px;
  }

  .px-md-90 {
    padding-left: 90px;
    padding-right: 90px;
  }

  .px-md-100 {
    padding-left: 100px;
    padding-right: 100px;
  }

  /* #end padding left region */
  /* #endregion Paddings */

  /* #region Flex */
  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .flex-md-column-reverse {
    flex-direction: column-reverse;
    -ms-flex-direction: inherit;
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-direction: inherit;
    -webkit-flex-wrap: wrap-reverse;
  }

  .flex-md-self-start {
    align-self: flex-start;
  }

  .flex-md-start {
    justify-content: flex-start;
    text-align: start;
  }

  .flex-md-center {
    justify-content: center;
  }

  .flex-md-evenly {
    justify-content: space-evenly;
  }

  .flex-md-around {
    justify-content: space-around;
  }

  .flex-md-end {
    justify-content: flex-end;
  }

  .flex-md-top {
    align-items: top;
  }

  .flex-md-middle {
    align-items: center;
  }

  .flex-md-bottom {
    align-items: flex-end;
  }

  .flex-md-between {
    justify-content: space-between;
  }

  .flex-md-1 {
    flex: 1;
  }

  .flex-md-wrap {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }

  .flex-md-grow-1 {
    flex-grow: 1;
  }

  .flex-md-basis-0 {
    flex-basis: 0;
  }

  /* #endregion Flex */

  /* #region Displays */
  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
    display: -ms-flexbox;
  }

  .d-md-flex-inline {
    display: inline-flex;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-inline-block {
    display: inline-block;
    vertical-align: top;
  }

  .d-md-none {
    display: none;
  }

  .vertical-md-top {
    vertical-align: top;
  }

  .vertical-md-middle {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }

  .vertical-md-bottom {
    vertical-align: bottom;
  }

  /* #endregion Displays */

  /* #region Positions */
  .relative-md {
    position: relative;
  }

  .absolute-md {
    position: absolute;
  }

  .fixed-md {
    position: fixed;
  }

  .absolute-md-h-center {
    left: 0;
    right: 0;
    margin: auto;
  }

  .absolute-md-v-center {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  /* Left */
  .pos-md-left {
    left: 0;
    right: auto;
  }

  .left-md-10 {
    left: 10%;
  }

  .left-md-20 {
    left: 20%;
  }

  .left-md-30 {
    left: 30%;
  }

  .left-md-40 {
    left: 40%;
  }

  .left-md-50 {
    left: 50%;
  }

  /* .Left */

  /* Right */
  .pos-md-right {
    left: auto;
    right: 0;
  }

  .right-md-10 {
    right: 10%;
  }

  .right-md-20 {
    right: 20%;
  }

  .right-md-30 {
    right: 30%;
  }

  .right-md-40 {
    right: 40%;
  }

  .right-md-50 {
    right: 50%;
  }

  /*. Right */

  /* Top */
  .pos-md-top {
    top: 0;
    bottom: auto;
  }

  .top-md-10 {
    top: 10%;
  }

  .top-md-20 {
    top: 20%;
  }

  .top-md-30 {
    top: 30%;
  }

  .top-md-40 {
    top: 40%;
  }

  .top-md-50 {
    top: 50%;
  }

  /* .Top */

  /* Bottom */
  .pos-md-bottom {
    top: auto;
    bottom: 0;
  }

  .bottom-md-10 {
    bottom: 10%;
  }

  .bottom-md-20 {
    bottom: 20%;
  }

  .bottom-md-30 {
    bottom: 30%;
  }

  .bottom-md-40 {
    bottom: 40%;
  }

  .bottom-md-50 {
    bottom: 50%;
  }

  /* .Bottom */

  /*  Vertical center */
  .vertical-md-center {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  /*  Vertical center */
  /* #endregion Positions */

  /* #region width and height*/
  .w-md-auto{
    width: auto;
  }
  
  .w-md-10 {
    width: 10%;
  }

  .w-md-20 {
    width: 20%;
  }

  .w-md-25 {
    width: 25%;
  }

  .w-md-30 {
    width: 30%;
  }

  .w-md-33 {
    width: 33.333333%;
  }

  .w-md-40 {
    width: 40%;
  }

  .w-md-50 {
    width: 50%;
  }

  .w-md-60 {
    width: 60%;
  }

  .w-md-70 {
    width: 70%;
  }

  .w-md-80 {
    width: 80%;
  }

  .w-md-90 {
    width: 90%;
  }

  .w-md-100 {
    width: 100%;
  }

  .h-md-10 {
    height: 10%;
  }

  .h-md-20 {
    height: 20%;
  }

  .h-md-25 {
    height: 25%;
  }

  .h-md-30 {
    height: 30%;
  }

  .h-md-33 {
    height: 33.333333%;
  }

  .h-md-40 {
    height: 40%;
  }

  .h-md-50 {
    height: 50%;
  }

  .h-md-60 {
    height: 60%;
  }

  .h-md-70 {
    height: 70%;
  }

  .h-md-80 {
    height: 80%;
  }

  .h-md-90 {
    height: 90%;
  }

  .h-md-100 {
    height: 100%;
  }

  /* #endregion width and height*/

  /* #region text alignment */
  .text-md-justify {
    text-align: justify;
  }

  .text-md-left {
    text-align: left;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-nowrap {
    white-space: nowrap;
  }

  .text-md-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-md-break {
    word-break: break-word;
    overflow-wrap: break-word;
  }

  /* #endregion text alignment */

  /* #region Vertical alignment */
  .align-md-baseline {
    vertical-align: baseline;
  }

  .align-md-top {
    vertical-align: top;
  }

  .align-md-middle {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }

  .align-md-bottom {
    vertical-align: bottom;
  }

  .align-md-text-top {
    vertical-align: text-top;
  }

  .align-md-text-bottom {
    vertical-align: text-bottom;
  }

  /* #endregion Vertical alignment */

  /* #region columns */

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* #endregion columns */

  /* #region containers */
  .container {
    max-width: 720px;
  }

  /* #endregion containers */

  /* #region color text */
  .color-md-base-900 {
    color: #212b36;
  }
  .color-md-base-800 {
    color: #454f5b;
  }
  .color-md-base-700 {
    color: #637381;
  }
  .color-md-base-600 {
    color: #919eab;
  }
  .color-md-base-500 {
    color: #c4cdd5;
  }
  .color-md-base-400 {
    color: #dfe3e8;
  }
  .color-md-base-300 {
    color: #f4f6f8;
  }
  .color-md-base-200 {
    color: #f9fafb;
  }
  .color-md-base-100 {
    color: #ffffff;
  }

  .color-md-teal-900 {
    color: #103a44;
  }
  .color-md-teal-800 {
    color: #175665;
  }
  .color-md-teal-700 {
    color: #1f7387;
  }
  .color-md-teal-600 {
    color: #2facbf;
  }
  .color-md-teal-500 {
    color: #5abbd0;
  }
  .color-md-teal-400 {
    color: #63c1cf;
  }
  .color-md-teal-300 {
    color: #82cdd9;
  }
  .color-md-teal-200 {
    color: #acdee5;
  }
  .color-md-teal-100 {
    color: #d5eef2;
  }

  .color-md-yellow-900 {
    color: #7a0707;
  }
  .color-md-yellow-800 {
    color: #a51f0c;
  }
  .color-md-yellow-700 {
    color: #e04a00;
  }
  .color-md-yellow-600 {
    color: #ff9200;
  }
  .color-md-yellow-500 {
    color: #ffa633;
  }
  .color-md-yellow-400 {
    color: #ffcb66;
  }
  .color-md-yellow-300 {
    color: #ffdd99;
  }
  .color-md-yellow-200 {
    color: #ffeecc;
  }
  .color-md-yellow-100 {
    color: #fff8eb;
  }

  .color-md-green-900 {
    color: #054029;
  }
  .color-md-green-800 {
    color: #006655;
  }
  .color-md-green-700 {
    color: #097f52;
  }
  .color-md-green-600 {
    color: #0caa6d;
  }
  .color-md-green-500 {
    color: #2ab57f;
  }
  .color-md-green-400 {
    color: #67caa4;
  }
  .color-md-green-300 {
    color: #86d4b6;
  }
  .color-md-green-200 {
    color: #86d4b6;
  }
  .color-md-green-100 {
    color: #86d4b6;
  }

  .color-md-red-900 {
    color: #5a1717;
  }
  .color-md-red-800 {
    color: #962626;
  }
  .color-md-red-700 {
    color: #d23535;
  }
  .color-md-red-600 {
    color: #f03d3d;
  }
  .color-md-red-500 {
    color: #f25555;
  }
  .color-md-red-400 {
    color: #f68686;
  }
  .color-md-red-300 {
    color: #f79e9e;
  }
  .color-md-red-200 {
    color: #fbcfcf;
  }
  .color-md-red-100 {
    color: #fde7e7;
  }
  /* #endregion color text */

  /* #region color palette */
  .bg-md-base-900 {
    background-color: #212b36;
  }
  .bg-md-base-800 {
    background-color: #454f5b;
  }
  .bg-md-base-700 {
    background-color: #637381;
  }
  .bg-md-base-600 {
    background-color: #919eab;
  }
  .bg-md-base-500 {
    background-color: #c4cdd5;
  }
  .bg-md-base-400 {
    background-color: #dfe3e8;
  }
  .bg-md-base-300 {
    background-color: #f4f6f8;
  }
  .bg-md-base-200 {
    background-color: #f9fafb;
  }
  .bg-md-base-100 {
    background-color: #ffffff;
  }

  .bg-md-teal-900 {
    background-color: #103a44;
  }
  .bg-md-teal-800 {
    background-color: #175665;
  }
  .bg-md-teal-700 {
    background-color: #1f7387;
  }
  .bg-md-teal-600 {
    background-color: #2facbf;
  }
  .bg-md-teal-500 {
    background-color: #5abbd0;
  }
  .bg-md-teal-400 {
    background-color: #63c1cf;
  }
  .bg-md-teal-300 {
    background-color: #82cdd9;
  }
  .bg-md-teal-200 {
    background-color: #acdee5;
  }
  .bg-md-teal-100 {
    background-color: #d5eef2;
  }

  .bg-md-yellow-900 {
    background-color: #7a0707;
  }
  .bg-md-yellow-800 {
    background-color: #a51f0c;
  }
  .bg-md-yellow-700 {
    background-color: #e04a00;
  }
  .bg-md-yellow-600 {
    background-color: #ff9200;
  }
  .bg-md-yellow-500 {
    background-color: #ffa633;
  }
  .bg-md-yellow-400 {
    background-color: #ffcb66;
  }
  .bg-md-yellow-300 {
    background-color: #ffdd99;
  }
  .bg-md-yellow-200 {
    background-color: #ffeecc;
  }
  .bg-md-yellow-100 {
    background-color: #fff8eb;
  }

  .bg-md-green-900 {
    background-color: #054029;
  }
  .bg-md-green-800 {
    background-color: #006655;
  }
  .bg-md-green-700 {
    background-color: #097f52;
  }
  .bg-md-green-600 {
    background-color: #0caa6d;
  }
  .bg-md-green-500 {
    background-color: #2ab57f;
  }
  .bg-md-green-400 {
    background-color: #67caa4;
  }
  .bg-md-green-300 {
    background-color: #86d4b6;
  }
  .bg-md-green-200 {
    background-color: #86d4b6;
  }
  .bg-md-green-100 {
    background-color: #86d4b6;
  }

  .bg-md-red-900 {
    background-color: #5a1717;
  }
  .bg-md-red-800 {
    background-color: #962626;
  }
  .bg-md-red-700 {
    background-color: #d23535;
  }
  .bg-md-red-600 {
    background-color: #f03d3d;
  }
  .bg-md-red-500 {
    background-color: #f25555;
  }
  .bg-md-red-400 {
    background-color: #f68686;
  }
  .bg-md-red-300 {
    background-color: #f79e9e;
  }
  .bg-md-red-200 {
    background-color: #fbcfcf;
  }
  .bg-md-red-100 {
    background-color: #fde7e7;
  }
  /* #endregion color palette */
}
