/* XX-Large devices (larger desktops) */
@media (min-width: 1400px) {
  /* #region Margins */
  /* # general margin */
  .m-xxl-auto {
    margin: auto;
  }

  .m-xxl-0-auto {
    margin: 0 auto;
  }

  .m-xxl-initial {
    margin: initial;
  }

  /* #end general margin */

  /* # top margin */
  .mt-xxl-0 {
    margin-top: 0;
  }

  .mt-xxl-5 {
    margin-top: 5px;
  }

  .mt-xxl-10 {
    margin-top: 10px;
  }

  .mt-xxl-15 {
    margin-top: 15px;
  }

  .mt-xxl-20 {
    margin-top: 20px;
  }

  .mt-xxl-25 {
    margin-top: 25px;
  }

  .mt-xxl-30 {
    margin-top: 30px;
  }

  .mt-xxl-40 {
    margin-top: 40px;
  }

  .mt-xxl-50 {
    margin-top: 50px;
  }

  .mt-xxl-55 {
    margin-top: 55px;
  }

  .mt-xxl-60 {
    margin-top: 60px;
  }

  .mt-xxl-70 {
    margin-top: 70px;
  }

  .mt-xxl-80 {
    margin-top: 80px;
  }

  .mt-xxl-90 {
    margin-top: 90px;
  }

  .mt-xxl-100 {
    margin-top: 100px;
  }

  .mt-xxl-150 {
    margin-top: 150px;
  }

  .mt-xxl-250 {
    margin-top: 250px;
  }

  /* # endtop margin */

  /* # rigth margin */

  .mr-xxl-0 {
    margin-right: 0;
  }

  .mr-xxl-5 {
    margin-right: 5px;
  }

  .mr-xxl-10 {
    margin-right: 10px;
  }

  .mr-xxl-20 {
    margin-right: 20px;
  }

  .mr-xxl-30 {
    margin-right: 30px;
  }

  .mr-xxl-40 {
    margin-right: 40px;
  }

  .mr-xxl-50 {
    margin-right: 50px;
  }

  .mr-xxl-60 {
    margin-right: 60px;
  }

  /* # end rigth margin */

  /* # bottom margin */
  .mb-xxl-0 {
    margin-bottom: 0;
  }

  .mb-xxl-5 {
    margin-bottom: 5px;
  }

  .mb-xxl-10 {
    margin-bottom: 10px;
  }

  .mb-xxl-15 {
    margin-bottom: 15px;
  }

  .mb-xxl-20 {
    margin-bottom: 20px;
  }

  .mb-xxl-30 {
    margin-bottom: 30px;
  }

  .mb-xxl-40 {
    margin-bottom: 40px;
  }

  .mb-xxl-50 {
    margin-bottom: 50px;
  }

  .mb-xxl-60 {
    margin-bottom: 60px;
  }

  .mb-xxl-70 {
    margin-bottom: 70px;
  }

  .mb-xxl-80 {
    margin-bottom: 80px;
  }

  .mb-xxl-90 {
    margin-bottom: 90px;
  }

  .mb-xxl-100 {
    margin-bottom: 100px;
  }

  .mb-xxl-130 {
    margin-bottom: 130px;
  }

  .mb-xxl-140 {
    margin-bottom: 140px;
  }

  .mb-xxl-150 {
    margin-bottom: 150px;
  }

  .mb-xxl-250 {
    margin-bottom: 250px;
  }

  /* # end bottom margin */

  /* # left  margin */
  .ml-xxl-0 {
    margin-left: 0;
  }

  .ml-xxl-5 {
    margin-left: 5px;
  }

  .ml-xxl-10 {
    margin-left: 10px;
  }

  .ml-xxl-20 {
    margin-left: 20px;
  }

  .ml-xxl-30 {
    margin-left: 30px;
  }

  .ml-xxl-40 {
    margin-left: 40px;
  }

  .ml-xxl-50 {
    margin-left: 50px;
  }

  .ml-xxl-60 {
    margin-left: 60px;
  }

  /* # end left margin */

  /* # full margin */
  .m-xxl-0 {
    margin: 0;
  }

  .m-xxl-5 {
    margin: 5px;
  }

  .m-xxl-10 {
    margin: 10px;
  }

  .m-xxl-20 {
    margin: 20px;
  }

  .m-xxl-30 {
    margin: 30px;
  }

  .m-xxl-40 {
    margin: 40px;
  }

  .m-xxl-50 {
    margin: 50px;
  }

  .m-xxl-60 {
    margin: 60px;
  }

  /* # full margin */

  /* margin axis y */
  .my-xxl-0 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .my-xxl-5 {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .my-xxl-10 {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .my-xxl-15 {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .my-xxl-20 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .my-xxl-30 {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .my-xxl-40 {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .my-xxl-50 {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .my-xxl-60 {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .my-xxl-70 {
    margin-bottom: 70px;
    margin-top: 70px;
  }

  .my-xxl-80 {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .my-xxl-90 {
    margin-bottom: 90px;
    margin-top: 90px;
  }

  .my-xxl-100 {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  /* margin axis y */

  /* # margin axis x */
  .mx-xxl-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mx-xxl-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .mx-xxl-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mx-xxl-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mx-xxl-30 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mx-xxl-40 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mx-xxl-50 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .mx-xxl-60 {
    margin-left: 60px;
    margin-right: 60px;
  }

  /* # end margin axis x*/
  /* #endregion Margins */

  /* #region Paddings */
  /* #padding top region */
  .pt-xxl-0 {
    padding-top: 0;
  }

  .pt-xxl-10 {
    padding-top: 10px;
  }

  .pt-xxl-15 {
    padding-top: 15px;
  }

  .pt-xxl-20 {
    padding-top: 20px;
  }

  .pt-xxl-30 {
    padding-top: 30px;
  }

  .pt-xxl-40 {
    padding-top: 40px;
  }

  .pt-xxl-50 {
    padding-top: 50px;
  }

  .pt-xxl-55 {
    padding-top: 50px;
  }

  .pt-xxl-60 {
    padding-top: 60px;
  }

  .pt-xxl-70 {
    padding-top: 70px;
  }

  .pt-xxl-80 {
    padding-top: 80px;
  }

  .pt-xxl-90 {
    padding-top: 90px;
  }

  .pt-xxl-100 {
    padding-top: 100px;
  }

  .pt-xxl-110 {
    padding-top: 100px;
  }

  .pt-xxl-120 {
    padding-top: 120px;
  }

  /* #end padding top region */

  /* #padding rigth region */
  .pr-xxl-0 {
    padding-right: 0;
  }

  .pr-xxl-10 {
    padding-right: 10px;
  }

  .pr-xxl-15 {
    padding-right: 15px;
  }

  .pr-xxl-20 {
    padding-right: 20px;
  }

  .pr-xxl-30 {
    padding-right: 30px;
  }

  .pr-xxl-40 {
    padding-right: 40px;
  }

  .pr-xxl-50 {
    padding-right: 50px;
  }

  .pr-xxl-60 {
    padding-right: 60px;
  }

  .pr-xxl-70 {
    padding-right: 70px;
  }

  .pr-xxl-80 {
    padding-right: 80px;
  }

  .pr-xxl-90 {
    padding-right: 90px;
  }

  .pr-xxl-100 {
    padding-right: 100px;
  }

  /* #end padding rigth region */

  /* #padding bottom region */
  .pb-xxl-0 {
    padding-bottom: 0;
  }

  .pb-xxl-10 {
    padding-bottom: 10px;
  }

  .pb-xxl-15 {
    padding-bottom: 15px;
  }

  .pb-xxl-20 {
    padding-bottom: 20px;
  }

  .pb-xxl-30 {
    padding-bottom: 30px;
  }

  .pb-xxl-40 {
    padding-bottom: 40px;
  }

  .pb-xxl-50 {
    padding-bottom: 50px;
  }

  .pb-xxl-60 {
    padding-bottom: 60px;
  }

  .pb-xxl-70 {
    padding-bottom: 70px;
  }

  .pb-xxl-80 {
    padding-bottom: 80px;
  }

  .pb-xxl-90 {
    padding-bottom: 90px;
  }

  .pb-xxl-100 {
    padding-bottom: 100px;
  }

  .pb-xxl-110 {
    padding-bottom: 110px;
  }

  .pb-xxl-130 {
    padding-bottom: 130px;
  }

  /* #end padding bottom region */

  /* #padding left region */
  .pl-xxl-0 {
    padding-left: 0;
  }

  .pl-xxl-10 {
    padding-left: 10px;
  }

  .pl-xxl-20 {
    padding-left: 20px;
  }

  .pl-xxl-30 {
    padding-left: 30px;
  }

  .pl-xxl-40 {
    padding-left: 40px;
  }

  .pl-xxl-50 {
    padding-left: 50px;
  }

  .pl-xxl-60 {
    padding-left: 60px;
  }

  .pl-xxl-70 {
    padding-left: 70px;
  }

  .pl-xxl-80 {
    padding-left: 80px;
  }

  .pl-xxl-90 {
    padding-left: 90px;
  }

  .pl-xxl-100 {
    padding-left: 100px;
  }

  /* #end padding left region */

  /* #padding full region */
  .p-xxl-0 {
    padding: 0;
  }

  .p-xxl-10 {
    padding: 10px;
  }

  .p-xxl-15 {
    padding: 15px;
  }

  .p-xxl-20 {
    padding: 20px;
  }

  .p-xxl-30 {
    padding: 30px;
  }

  .p-xxl-40 {
    padding: 40px;
  }

  .p-xxl-50 {
    padding: 50px;
  }

  .p-xxl-60 {
    padding: 60px;
  }

  .p-xxl-70 {
    padding: 70px;
  }

  .p-xxl-80 {
    padding: 80px;
  }

  .p-xxl-90 {
    padding: 90px;
  }

  .p-xxl-100 {
    padding: 100px;
  }

  /* #padding full region */

  /* #padding axis y region */
  .py-xxl-0 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .py-xxl-10 {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .py-xxl-15 {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .py-xxl-20 {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .py-xxl-30 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .py-xxl-40 {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .py-xxl-50 {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .py-xxl-60 {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .py-xxl-70 {
    padding-bottom: 70px;
    padding-top: 70px;
  }

  .py-xxl-80 {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .py-xxl-90 {
    padding-bottom: 90px;
    padding-top: 90px;
  }

  .py-xxl-100 {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  /* #end padding axis y region */

  /* #padding left region */
  .px-xxl-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-xxl-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .px-xxl-15 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .px-xxl-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .px-xxl-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .px-xxl-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .px-xxl-50 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .px-xxl-60 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .px-xxl-70 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .px-xxl-80 {
    padding-left: 80px;
    padding-right: 80px;
  }

  .px-xxl-90 {
    padding-left: 90px;
    padding-right: 90px;
  }

  .px-xxl-100 {
    padding-left: 100px;
    padding-right: 100px;
  }

  /* #end padding left region */
  /* #endregion Paddings */

  /* #region Flex */
  .flex-xxl-row {
    flex-direction: row;
  }

  .flex-xxl-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-xxl-column {
    flex-direction: column;
  }

  .flex-xxl-column-reverse {
    flex-direction: column-reverse;
    -ms-flex-direction: inherit;
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-direction: inherit;
    -webkit-flex-wrap: wrap-reverse;
  }

  .flex-xxl-self-start {
    align-self: flex-start;
  }

  .flex-xxl-start {
    justify-content: flex-start;
    text-align: start;
  }

  .flex-xxl-center {
    justify-content: center;
  }

  .flex-xxl-evenly {
    justify-content: space-evenly;
  }

  .flex-xxl-around {
    justify-content: space-around;
  }

  .flex-xxl-end {
    justify-content: flex-end;
  }

  .flex-xxl-top {
    align-items: top;
  }

  .flex-xxl-middle {
    align-items: center;
  }

  .flex-xxl-bottom {
    align-items: flex-end;
  }

  .flex-xxl-between {
    justify-content: space-between;
  }

  .flex-xxl-1 {
    flex: 1;
  }

  .flex-xxl-wrap {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }

  .flex-xxl-grow-1 {
    flex-grow: 1;
  }

  .flex-xxl-basis-0 {
    flex-basis: 0;
  }

  /* #endregion Flex */

  /* #region Displays */
  .d-xxl-block {
    display: block;
  }

  .d-xxl-flex {
    display: flex;
    display: -ms-flexbox;
  }

  .d-xxl-flex-inline {
    display: inline-flex;
  }

  .d-xxl-inline {
    display: inline;
  }

  .d-xxl-inline-block {
    display: inline-block;
    vertical-align: top;
  }

  .d-xxl-none {
    display: none;
  }

  .vertical-xxl-top {
    vertical-align: top;
  }

  .vertical-xxl-middle {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }

  .vertical-xxl-bottom {
    vertical-align: bottom;
  }

  /* #endregion Displays */

  /* #region Positions */
  .relative-xxl {
    position: relative;
  }

  .absolute-xxl {
    position: absolute;
  }

  .fixed-xxl {
    position: fixed;
  }

  .absolute-xxl-h-center {
    left: 0;
    right: 0;
    margin: auto;
  }

  .absolute-xxl-v-center {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  /* Left */
  .pos-xxl-left {
    left: 0;
    right: auto;
  }

  .left-xxl-10 {
    left: 10%;
  }

  .left-xxl-20 {
    left: 20%;
  }

  .left-xxl-30 {
    left: 30%;
  }

  .left-xxl-40 {
    left: 40%;
  }

  .left-xxl-50 {
    left: 50%;
  }

  /* .Left */

  /* Right */
  .pos-xxl-right {
    left: auto;
    right: 0;
  }

  .right-xxl-10 {
    right: 10%;
  }

  .right-xxl-20 {
    right: 20%;
  }

  .right-xxl-30 {
    right: 30%;
  }

  .right-xxl-40 {
    right: 40%;
  }

  .right-xxl-50 {
    right: 50%;
  }

  /*. Right */

  /* Top */
  .pos-xxl-top {
    top: 0;
    bottom: auto;
  }

  .top-xxl-10 {
    top: 10%;
  }

  .top-xxl-20 {
    top: 20%;
  }

  .top-xxl-30 {
    top: 30%;
  }

  .top-xxl-40 {
    top: 40%;
  }

  .top-xxl-50 {
    top: 50%;
  }

  /* .Top */

  /* Bottom */
  .pos-xxl-bottom {
    top: auto;
    bottom: 0;
  }

  .bottom-xxl-10 {
    bottom: 10%;
  }

  .bottom-xxl-20 {
    bottom: 20%;
  }

  .bottom-xxl-30 {
    bottom: 30%;
  }

  .bottom-xxl-40 {
    bottom: 40%;
  }

  .bottom-xxl-50 {
    bottom: 50%;
  }

  /* .Bottom */

  /*  Vertical center */
  .vertical-xxl-center {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  /*  Vertical center */
  /* #endregion Positions */

  /* #region width and height*/
  .w-xxl-auto{
    width: auto;
  }
  
  .w-xxl-10 {
    width: 10%;
  }

  .w-xxl-20 {
    width: 20%;
  }

  .w-xxl-25 {
    width: 25%;
  }

  .w-xxl-30 {
    width: 30%;
  }

  .w-xxl-33 {
    width: 33.333333%;
  }

  .w-xxl-40 {
    width: 40%;
  }

  .w-xxl-50 {
    width: 50%;
  }

  .w-xxl-60 {
    width: 60%;
  }

  .w-xxl-70 {
    width: 70%;
  }

  .w-xxl-80 {
    width: 80%;
  }

  .w-xxl-90 {
    width: 90%;
  }

  .w-xxl-100 {
    width: 100%;
  }

  .h-xxl-10 {
    height: 10%;
  }

  .h-xxl-20 {
    height: 20%;
  }

  .h-xxl-25 {
    height: 25%;
  }

  .h-xxl-30 {
    height: 30%;
  }

  .h-xxl-33 {
    height: 33.333333%;
  }

  .h-xxl-40 {
    height: 40%;
  }

  .h-xxl-50 {
    height: 50%;
  }

  .h-xxl-60 {
    height: 60%;
  }

  .h-xxl-70 {
    height: 70%;
  }

  .h-xxl-80 {
    height: 80%;
  }

  .h-xxl-90 {
    height: 90%;
  }

  .h-xxl-100 {
    height: 100%;
  }

  /* #endregion width and height */

  /* #region text alignment */
  .text-xxl-justify {
    text-align: justify;
  }

  .text-xxl-left {
    text-align: left;
  }

  .text-xxl-center {
    text-align: center;
  }

  .text-xxl-right {
    text-align: right;
  }

  .text-xxl-nowrap {
    white-space: nowrap;
  }

  .text-xxl-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-xxl-break {
    word-break: break-word;
    overflow-wrap: break-word;
  }

  /* #endregion text alignment */

  /* #region Vertical alignment */
  .align-xxl-baseline {
    vertical-align: baseline;
  }

  .align-xxl-top {
    vertical-align: top;
  }

  .align-xxl-middle {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }

  .align-xxl-bottom {
    vertical-align: bottom;
  }

  .align-xxl-text-top {
    vertical-align: text-top;
  }

  .align-xxl-text-bottom {
    vertical-align: text-bottom;
  }

  /* #endregion Vertical alignment */

  /* #region columns */

  .col-xxl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xxl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xxl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xxl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xxl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xxl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xxl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xxl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xxl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xxl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* #endregion columns */

  /* #region containers */
  .container {
    max-width: 1320px;
  }

  /* #endregion containers */

  /* #region color text */
  .color-xxl-base-900 {
    color: #212b36;
  }
  .color-xxl-base-800 {
    color: #454f5b;
  }
  .color-xxl-base-700 {
    color: #637381;
  }
  .color-xxl-base-600 {
    color: #919eab;
  }
  .color-xxl-base-500 {
    color: #c4cdd5;
  }
  .color-xxl-base-400 {
    color: #dfe3e8;
  }
  .color-xxl-base-300 {
    color: #f4f6f8;
  }
  .color-xxl-base-200 {
    color: #f9fafb;
  }
  .color-xxl-base-100 {
    color: #ffffff;
  }

  .color-xxl-teal-900 {
    color: #103a44;
  }
  .color-xxl-teal-800 {
    color: #175665;
  }
  .color-xxl-teal-700 {
    color: #1f7387;
  }
  .color-xxl-teal-600 {
    color: #2facbf;
  }
  .color-xxl-teal-500 {
    color: #5abbd0;
  }
  .color-xxl-teal-400 {
    color: #63c1cf;
  }
  .color-xxl-teal-300 {
    color: #82cdd9;
  }
  .color-xxl-teal-200 {
    color: #acdee5;
  }
  .color-xxl-teal-100 {
    color: #d5eef2;
  }

  .color-xxl-yellow-900 {
    color: #7a0707;
  }
  .color-xxl-yellow-800 {
    color: #a51f0c;
  }
  .color-xxl-yellow-700 {
    color: #e04a00;
  }
  .color-xxl-yellow-600 {
    color: #ff9200;
  }
  .color-xxl-yellow-500 {
    color: #ffa633;
  }
  .color-xxl-yellow-400 {
    color: #ffcb66;
  }
  .color-xxl-yellow-300 {
    color: #ffdd99;
  }
  .color-xxl-yellow-200 {
    color: #ffeecc;
  }
  .color-xxl-yellow-100 {
    color: #fff8eb;
  }

  .color-xxl-green-900 {
    color: #054029;
  }
  .color-xxl-green-800 {
    color: #006655;
  }
  .color-xxl-green-700 {
    color: #097f52;
  }
  .color-xxl-green-600 {
    color: #0caa6d;
  }
  .color-xxl-green-500 {
    color: #2ab57f;
  }
  .color-xxl-green-400 {
    color: #67caa4;
  }
  .color-xxl-green-300 {
    color: #86d4b6;
  }
  .color-xxl-green-200 {
    color: #86d4b6;
  }
  .color-xxl-green-100 {
    color: #86d4b6;
  }

  .color-xxl-red-900 {
    color: #5a1717;
  }
  .color-xxl-red-800 {
    color: #962626;
  }
  .color-xxl-red-700 {
    color: #d23535;
  }
  .color-xxl-red-600 {
    color: #f03d3d;
  }
  .color-xxl-red-500 {
    color: #f25555;
  }
  .color-xxl-red-400 {
    color: #f68686;
  }
  .color-xxl-red-300 {
    color: #f79e9e;
  }
  .color-xxl-red-200 {
    color: #fbcfcf;
  }
  .color-xxl-red-100 {
    color: #fde7e7;
  }
  /* #endregion color text */

  /* #region color palette */
  .bg-xxl-base-900 {
    background-color: #212b36;
  }
  .bg-xxl-base-800 {
    background-color: #454f5b;
  }
  .bg-xxl-base-700 {
    background-color: #637381;
  }
  .bg-xxl-base-600 {
    background-color: #919eab;
  }
  .bg-xxl-base-500 {
    background-color: #c4cdd5;
  }
  .bg-xxl-base-400 {
    background-color: #dfe3e8;
  }
  .bg-xxl-base-300 {
    background-color: #f4f6f8;
  }
  .bg-xxl-base-200 {
    background-color: #f9fafb;
  }
  .bg-xxl-base-100 {
    background-color: #ffffff;
  }

  .bg-xxl-teal-900 {
    background-color: #103a44;
  }
  .bg-xxl-teal-800 {
    background-color: #175665;
  }
  .bg-xxl-teal-700 {
    background-color: #1f7387;
  }
  .bg-xxl-teal-600 {
    background-color: #2facbf;
  }
  .bg-xxl-teal-500 {
    background-color: #5abbd0;
  }
  .bg-xxl-teal-400 {
    background-color: #63c1cf;
  }
  .bg-xxl-teal-300 {
    background-color: #82cdd9;
  }
  .bg-xxl-teal-200 {
    background-color: #acdee5;
  }
  .bg-xxl-teal-100 {
    background-color: #d5eef2;
  }

  .bg-xxl-yellow-900 {
    background-color: #7a0707;
  }
  .bg-xxl-yellow-800 {
    background-color: #a51f0c;
  }
  .bg-xxl-yellow-700 {
    background-color: #e04a00;
  }
  .bg-xxl-yellow-600 {
    background-color: #ff9200;
  }
  .bg-xxl-yellow-500 {
    background-color: #ffa633;
  }
  .bg-xxl-yellow-400 {
    background-color: #ffcb66;
  }
  .bg-xxl-yellow-300 {
    background-color: #ffdd99;
  }
  .bg-xxl-yellow-200 {
    background-color: #ffeecc;
  }
  .bg-xxl-yellow-100 {
    background-color: #fff8eb;
  }

  .bg-xxl-green-900 {
    background-color: #054029;
  }
  .bg-xxl-green-800 {
    background-color: #006655;
  }
  .bg-xxl-green-700 {
    background-color: #097f52;
  }
  .bg-xxl-green-600 {
    background-color: #0caa6d;
  }
  .bg-xxl-green-500 {
    background-color: #2ab57f;
  }
  .bg-xxl-green-400 {
    background-color: #67caa4;
  }
  .bg-xxl-green-300 {
    background-color: #86d4b6;
  }
  .bg-xxl-green-200 {
    background-color: #86d4b6;
  }
  .bg-xxl-green-100 {
    background-color: #86d4b6;
  }

  .bg-xxl-red-900 {
    background-color: #5a1717;
  }
  .bg-xxl-red-800 {
    background-color: #962626;
  }
  .bg-xxl-red-700 {
    background-color: #d23535;
  }
  .bg-xxl-red-600 {
    background-color: #f03d3d;
  }
  .bg-xxl-red-500 {
    background-color: #f25555;
  }
  .bg-xxl-red-400 {
    background-color: #f68686;
  }
  .bg-xxl-red-300 {
    background-color: #f79e9e;
  }
  .bg-xxl-red-200 {
    background-color: #fbcfcf;
  }
  .bg-xxl-red-100 {
    background-color: #fde7e7;
  }
  /* #endregion color palette */
}
