.content-card{
  position: absolute;
  z-index: 3;
  bottom: 0px;
  width: calc( 100% - 30px);  
}


.votes input[type=radio]{
  position: absolute;
  clip: rect(0,0,0,0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.votes label{
cursor: pointer;
width: 35px;
height: 35px;
text-align: center;
font-size: 18px;
display: flex;
align-items: center;
justify-content: center;
padding: 5px;
color:white;
margin-right: 10px;
}

.votes input:checked ~ label{
border: 2px solid white;
}

.btn-vote{
background: transparent;
border: 1px solid white;
display: flex;
align-items: center;
justify-content: center;
color: white;
height: 45px;
padding: 5px 20px;
}

.calification{
cursor: pointer;
width: 35px;
height: 35px;
text-align: center;
font-size: 18px;
display: flex;
align-items: center;
justify-content: center;
padding: 5px;
color:white;
top: 40px;
left: 0;
position: absolute;
}