<app-principal></app-principal>
<div class="container">
  <app-alert-information [isClosable]="true" [backgroundClass]="'bg-base-300'">
    <div class="row">
      <div class="col-12 col-xxl-2 col-xl-3 col-lg-3 col-md-4 px-10 px-md-30 px-sm-30 px-xs-30 d-flex flex-wrap d-sm-block d-xs-block vertical-center">
        <span class="d-block font-18 font-weight-300">Speak our. Be heard.</span>
        <span class="d-block font-28 font-weight-600 mb-sm-10 mb-xs-10">Be counted</span>
      </div>
      <div class="col-12 col-xxl-10 col-xl-9 col-lg-9 col-md-8 px-10 px-md-30 px-sm-30 px-xs-30 d-flex flex-wrap vertical-center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam odit eveniet, ipsam culpa obcaecati porro quos minus corporis optio ea soluta voluptatum nisi distinctio quam beatae impedit animi dolore maxime.
      </div>
    </div>
  </app-alert-information>

  <h1 class="font-weight-300 font-28">Votes</h1>

  <app-cards [data]="data"></app-cards>

  <app-alert-information [isClosable]="false" [backgroundImage]="'https://s03.s3c.es/imag/_v0/770x420/2/3/9/multitud-ciudad-gente-dreams.jpg'">
    <div class="d-flex flex-middle flex-between d-sm-block d-xs-block">
      <h2 class="mt-0 mb-0 font-weight-300 font-26 d-sm-block d-xs-block text-sm-center text-xs-center">Is there anyone else you eold want us to add?</h2>
      <button class="btn d-sm-block d-xs-block w-sm-100 w-xs-100 mt-sm-10 mt-xs-10">Submit a name</button>
    </div>
  </app-alert-information>

  <app-footer></app-footer>

</div>