<div class="row mb-20">
  <div class="col-6 col-sm-12 col-xs-12 mb-15 mt-15 card-item">
    <div class="aspect-ratio">
      <img src="https://via.placeholder.com/700" class="w-100" alt="">
    </div>
    <div class="content-card px-40 py-30 mb-40">
      <h2 class="font-45 color-base-100 font-weight-300 mb-10 mt-0">Title Test</h2>
      <div class="font-12 color-base-100"><span class="font-weight-700">1 month ago</span> in Entertaiment</div>
      <p class="mt-0 color-base-100 lh-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione adipisci
        deserunt tempora voluptatem.</p>
      <div class="d-flex flex-middle">
        <div class="votes">
          <input type="radio" name="votes" id="like">
          <label class="bg-teal-600" for="like">
            <i class="bi bi-hand-thumbs-up-fill"></i>
          </label>
        </div>
        <div class="votes">
          <input type="radio" name="votes" id="dontlike">
          <label class="bg-yellow-400" for="dontlike">
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </label>
        </div>
        <button class="btn-vote">
          Vote now
        </button>
      </div>
      <span class="calification bg-yellow-400">
        <i class="bi bi-hand-thumbs-down-fill"></i>
      </span>
    </div>
    <app-votes [like]="60" [dontlike]="40"></app-votes>
  </div>

  <div class="col-6 col-sm-12 col-xs-12 mb-15 mt-15 card-item">
    <div class="aspect-ratio">
      <img src="https://via.placeholder.com/700" class="w-100" alt="">
    </div>
    <div class="content-card px-40 py-30 mb-40">
      <h2 class="font-45 color-base-100 font-weight-300 mb-10 mt-0">Title Test</h2>
      <div class="font-12 color-base-100"><span class="font-weight-700">1 month ago</span> in Entertaiment</div>
      <p class="mt-0 color-base-100 lh-1">Thank you for voting</p>
      <div class="d-flex flex-middle">
        <button class="btn-vote">
          Vote again
        </button>
      </div>
      <span class="calification bg-teal-600">
        <i class="bi bi-hand-thumbs-up-fill"></i>
      </span>
    </div>
    <app-votes [like]="20" [dontlike]="80"></app-votes>
  </div>

  <div class="col-6 col-sm-12 col-xs-12 mb-15 mt-15 card-item">
    <div class="aspect-ratio">
      <img src="https://via.placeholder.com/700" class="w-100" alt="">
    </div>
    <div class="content-card px-40 py-30 mb-40">
      <h2 class="font-45 color-base-100 font-weight-300 mb-10 mt-0">Title Test</h2>
      <div class="font-12 color-base-100"><span class="font-weight-700">1 month ago</span> in Entertaiment</div>
      <p class="mt-0 color-base-100 lh-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione adipisci
        deserunt tempora voluptatem.</p>
      <div class="d-flex flex-middle">
        <div class="votes">
          <input type="radio" name="votes" id="like">
          <label class="bg-teal-600" for="like">
            <i class="bi bi-hand-thumbs-up-fill"></i>
          </label>
        </div>
        <div class="votes">
          <input type="radio" name="votes" id="dontlike">
          <label class="bg-yellow-400" for="dontlike">
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </label>
        </div>
        <button class="btn-vote">
          Vote now
        </button>
      </div>
      <span class="calification bg-yellow-400">
        <i class="bi bi-hand-thumbs-down-fill"></i>
      </span>
    </div>
    <app-votes [like]="70" [dontlike]="30"></app-votes>
  </div>

  <div class="col-6 col-sm-12 col-xs-12 mb-15 mt-15 card-item">
    <div class="aspect-ratio">
      <img src="https://via.placeholder.com/700" class="w-100" alt="">
    </div>
    <div class="content-card px-40 py-30 mb-40">
      <h2 class="font-45 color-base-100 font-weight-300 mb-10 mt-0">Title Test</h2>
      <div class="font-12 color-base-100"><span class="font-weight-700">1 month ago</span> in Entertaiment</div>
      <p class="mt-0 color-base-100 lh-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione adipisci
        deserunt tempora voluptatem.</p>
      <div class="d-flex flex-middle">
        <div class="votes">
          <input type="radio" name="votes" id="like">
          <label class="bg-teal-600" for="like">
            <i class="bi bi-hand-thumbs-up-fill"></i>
          </label>
        </div>
        <div class="votes">
          <input type="radio" name="votes" id="dontlike">
          <label class="bg-yellow-400" for="dontlike">
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </label>
        </div>
        <button class="btn-vote">
          Vote now
        </button>
      </div>
      <span class="calification bg-yellow-400">
        <i class="bi bi-hand-thumbs-down-fill"></i>
      </span>
    </div>
    <app-votes [like]="35" [dontlike]="65"></app-votes>
  </div>
</div>